<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50f42a1530.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header class="header-container">
        <div class="cont-logo-bars">
            <a href="#">
                <div class="logo-container">
                    <div>
                        <p class="logo">M</p>
                    </div>
                    <div>
                        <p class="logo-text">MUSEUM</p>
                        <p class="logo-text">SPORTS</p>
                    </div>
                </div>
            </a>

            <a href=""><i class="fa-solid fa-bars"></i></a>
            <a href=""><i class="fa-solid fa-xmark"></i></a>
        </div>
        <nav>
            <ul class="nav-container">
                <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
                <li><a href="">Inicio</a></li>
                <li><a href="">Productos</a>
                    <ul>
                        <li><a href="">menu</a></li>
                        <li><a href="">menu</a></li>
                        <li><a href="">menu</a></li>
                        <li><a href="">menu</a></li>
                        <li><a href="">menu</a></li>
                    </ul>
                </li>
                <li><a href="">Acerca de</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>