<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50f42a1530.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header class="header-container">
        <div class="cont-logo-bars">
            <a href="#">
                <div class="logo-container">
                    <div>
                        <p class="logo">M</p>
                    </div>
                    <div>
                        <p class="logo-text">MUSEUM</p>
                        <p class="logo-text">SPORTS</p>
                    </div>
                </div>
            </a>
            <div class="icon-cont">
                <div class="iconUser_iconCard">
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
                <div id="main-bars">
                    <a class="main-burguer" href="#main-bars"><i class="fa-solid fa-bars"></i></a>
                    <a class="main-burguerClose" href="#"><i class="fa-solid fa-xmark"></i></a>
                </div>
            </div>
        </div>
        <nav class="nav-bars-container active">
            <div class="nav_search">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <ul class="nav-main-bars">
                <li><a href="">Inicio</a></li>
                <li><a href="#">Productos</a>
                    <ul class="nav-sub-main">
                        <li><a href="">menu</a></li>
                        <li><a href="">menu</a></li>
                        <li><a href="">menu</a></li>
                        <li><a href="">menu</a></li>
                        <li><a href="">menu</a></li>
                    </ul>
                </li>
                <li><a href="">Acerca de</a></li>
                <li><a href="">Contactenos</a></li>
            </ul>
        </nav>
    </header>

    <main class="index-box">
        
            <div class="main__box-carrousel">
                <img class="main__carrousel" src="/images/banner.jpg" alt="">
            </div>
        
        <h4>Productos destacados</h4>

        <section >
            <div class="index__box-section">
                <article class="index__box-article">
                    <a href="">
                        <div>
                            <img class="index__image" src="/images/foto-tomate.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion">
                            <p class="index__precio">$10000</p>
                            <h5 class="index__descripcion">Copa Mundial 1986</h5>
                        </div>
                    </a>
                </article>
            
                <article class="index__box-article">
                    <a href="">
                        <div>
                            <img class="index__image" src="/images/foto-tomate.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion">
                            <p class="index__precio">$10000</p>
                            <h5 class="index__descripcion">Copa Mundial 1986</h5>
                        </div>
                    </a>
                </article>

                <article class="index__box-article-tablet">
                    <a href="">
                        <div>
                            <img class="index__image" src="/images/foto-tomate.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion">
                            <p class="index__precio">$10000</p>
                            <h5 class="index__descripcion">Copa Mundial 1986</h5>
                        </div>
                    </a>
                </article>

                <article class="index__box-article-desktop">
                    <a href="">
                        <div>
                            <img class="index__image" src="/images/foto-tomate.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion">
                            <p class="index__precio">$10000</p>
                            <h5 class="index__descripcion">Copa Mundial 1986</h5>
                        </div>
                    </a>
                </article>

                <article class="index__box-article-desktop">
                    <a href="">
                        <div>
                            <img class="index__image" src="/images/foto-tomate.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion">
                            <p class="index__precio">$10000</p>
                            <h5 class="index__descripcion">Copa Mundial 1986</h5>
                        </div>
                    </a>
                </article>
            </div>
        </section>
        
        <h4>Visto Recientemente</h4>
        
        <section >
            <div class="index__box-section">
                <article class="index__box-article">
                    <a href="">
                        <div>
                            <img class="index__image" src="/images/foto-tomate.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion">
                            <p class="index__precio">$10000</p>
                            <h5 class="index__descripcion">Copa Mundial 1986</h5>
                        </div>
                    </a>
                </article>
            
                <article class="index__box-article">
                    <a href="">
                        <div>
                            <img class="index__image" src="/images/foto-tomate.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion">
                            <p class="index__precio">$10000</p>
                            <h5 class="index__descripcion">Copa Mundial 1986</h5>
                        </div>
                    </a>
                </article>

                <article class="index__box-article-tablet">
                    <a href="">
                        <div>
                            <img class="index__image" src="/images/foto-tomate.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion">
                            <p class="index__precio">$10000</p>
                            <h5 class="index__descripcion">Copa Mundial 1986</h5>
                        </div>
                    </a>
                </article>

                <article class="index__box-article-desktop">
                    <a href="">
                        <div>
                            <img class="index__image" src="/images/foto-tomate.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion">
                            <p class="index__precio">$10000</p>
                            <h5 class="index__descripcion">Copa Mundial 1986</h5>
                        </div>
                    </a>
                </article>

                <article class="index__box-article-desktop">
                    <a href="">
                        <div>
                            <img class="index__image" src="/images/foto-tomate.jpg" alt="">
                        </div>
                        <div class="index__box-descripcion">
                            <p class="index__precio">$10000</p>
                            <h5 class="index__descripcion">Copa Mundial 1986</h5>
                        </div>
                    </a>
                </article>
            </div>
        </section>

        <section class="index__iconos">
            <div>
                <a href=""><i class="fa-solid fa-futbol icono"></i></a>
                <a href=""><i class="fa-solid fa-basketball icono"></i></a>            
                <a href=""><i class="fas fa-swimmer icono"></i></a>
            </div>
            <div>
                <a href=""><i class="fa-solid fa-futbol icono"></i></a>
                <a href=""><i class="fa-solid fa-basketball icono"></i></a>            
                <a href=""><i class="fas fa-swimmer icono"></i></a>
            </div>
            
        </section>
    </main>


    <footer>
        <section>
            <section>
                <h3>Quienes Somos</h3>
                <a href="">Logo</a>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A quos modi laboriosam id nam magnam
                    molestiae
                    dolores est iste. Consectetur quidem laudantium qui a vero amet totam optio, dolores accusantium.
                </p>
            </section>
            <section>
                <h3>Productos</h3>
                <ul>
                    <li><a href="">menu</a></li>
                    <li><a href="">menu</a></li>
                    <li><a href="">menu</a></li>
                    <li><a href="">menu</a></li>
                    <li><a href="">menu</a></li>
                    <li><a href="">menu</a></li>
                </ul>
            </section>
            <section>
                <h3>Contactenos</h3>
                <div>
                    <ul>
                        <li><a href="">menuredes</a></li>
                        <li><a href="">menuredes</a></li>
                        <li><a href="">menuredes</a></li>
                        <li><a href="">menuredes</a></li>
                        <li><a href="">menuredes</a></li>
                        <li><a href="">menuredes</a></li>
                    </ul>
                    <form action="">
                        <input type="text" name="" id="">
                        <input type="text" name="" id="">
                        <input type="text" name="" id="">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </form>
                </div>
            </section>
        </section>
        <p>COPYRIGHT MuseumSports - 2022. Todos los derechos reservados.</p>
    </footer>
    <script src="/javascript/burguer.js"></script>
</body>

</html>