<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50f42a1530.js" crossorigin="anonymous"></script>
    <title>Product Detail</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header class="header-container">
        <div class="cont-logo-bars">
            <a href="/">
                <div class="logo-container">
                    <div>
                        <p class="logo">M</p>
                    </div>
                    <div>
                        <p class="logo-text">MUSEUM</p>
                        <p class="logo-text">SPORTS</p>
                    </div>
                </div>
            </a>
            <div class="icon-cont">
                <div class="iconUser_iconCard">
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
                <div id="main-bars">
                    <a class="main-burguer" href="#main-bars"><i class="fa-solid fa-bars"></i></a>
                    <a class="main-burguerClose" href="#"><i class="fa-solid fa-xmark"></i></a>
                </div>
            </div>
        </div>
        <nav class="nav-bars-container">
            <div class="nav_search">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <ul class="nav-main-bars">
                <li><a class="item" href="">Inicio</a></li>
                <li><a class="item" href="#">Categorias</a>
                    <ul class="sub-main">
                        <li><a href="">Futbol</a></li>
                        <li><a href="">Tenis</a></li>
                        <li><a href="">Basket</a></li>
                        <li><a href="">Rugby</a></li>
                        <li><a href="">hockey</a></li>
                        <li><a href="">otros</a></li>
                    </ul>
                </li>
                <li><a class="item" href="">Acerca de</a></li>
                <li><a class="item" href="">Contactenos</a></li>
            </ul>
        </nav>
    </header>
    <!--          ------------FOOTER------------       -->
    <footer class="footer-container">
        <section class="container-firs">
            <section class="container-deploy about_us">
                <div class="title-icon deploy">
                    <h3>Quienes Somos</h3>
                    <a><i class="fa-solid fa-square-plus"></i></a>
                </div>
                <!-- <a href="">Logo</a> -->
                <p class="deploy_cont text-about_us">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A quos
                    modi laboriosam
                    id nam magnam
                    molestiae
                    dolores est iste. Consectetur quidem laudantium qui a vero amet totam optio, dolores accusantium.
                </p>
            </section>
            <section class="cont_nav-cont_reds">
                <section class="nav_footer">
                    <div class="title-icon">
                        <h3>Categorias</h3>
                    </div>
                    <div>
                        <ul class="cont_categories">
                            <li class="list_item"><a href="">Futbol</a></li>
                            <li class="list_item"><a href="">Tenis</a></li>
                            <li class="list_item"><a href="">Basket</a></li>
                            <li class="list_item"><a href="">Rugby</a></li>
                            <li class="list_item"><a href="">Hockey</a></li>
                            <li class="list_item"><a href="">Otros</a></li>
                        </ul>
                    </div>
                </section>
                <section class="contact-us">
                    <div class="title-icon">
                        <h3>Contactenos</h3>
                    </div>
                    <div>
                        <ul class="cont_redes">
                            <li class="list_item"><a href=""><i class="fa-brands fa-facebook-square"></i><span
                                        class="name_red"> Facebook</span></a></li>
                            <li class="list_item"><a href=""><i class="fa-brands fa-instagram-square"></i><span
                                        class="name_red"> Instagram</span></a></li>
                            <li class="list_item"><a href=""><i class="fa-brands fa-twitter-square"></i><span
                                        class="name_red"> Twitter</span></a></li>
                            <li class="list_item"><a href=""><i class="fa-brands fa-linkedin"></i><span
                                        class="name_red">
                                        Linkedin</span></a></li>
                            <li class="list_item"><a href=""><i class="fa-brands fa-whatsapp-square"></i><span
                                        class="name_red">
                                        WhatsApp</span></a></li>
                            <li class="list_item"><a href=""><i class="fa-solid fa-phone"></i><span class="name_red">
                                        00110011</span></a></li>
                        </ul>
                    </div>
                </section>
            </section>
            <section class="container-deploy">
                <div class="title-icon deploy">
                    <h3>Escribinos</h3>
                    <a><i class="fa-solid fa-square-plus"></i></a>
                </div>
                <div class="deploy_cont">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Ingrese su nombre">
                        <input type="text" name="" id="" placeholder="Ingrese su correo">
                        <input type="text" name="" id="" placeholder="Asunto">
                        <textarea name="" id="" cols="30" rows="8" placeholder="Escriba brevemente su consulta"></textarea>
                        <div><button class="button_form" type="submit">Enviar</button></div>
                    </form>
                </div>
            </section>
        </section>
        <p class="copyright">COPYRIGHT MuseumSports - 2022. Todos los derechos reservados.</p>
    </footer>
    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>