<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50f42a1530.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="header__container">

        <div class="header__box01">
            <img class="header__logo" src="/images/logo.jpg" alt="">
            
                <a href=""><i class="fa-solid fa-cart-shopping"></i></a> 
                <a href=""><i class="fa-solid fa-user"></i></a>
        </div>
        
        <div>

        </div>

        <nav class="header__nav-container">

            <a href="">Inicio</a>

            <ul class="header__nav">
               
                <li><a href="">Productos</a> 
                    <ul class="header__link">
                        <li><a href="">Futbol</a></li>
                        <li><a href="">Basket</a></li>
                        <li><a href="">Tenis</a></li>
                        <li><a href="">Rugby</a></li>
                        <li><a href="">Hokey</a></li>
                        <li><a href="">Voley</a></li>
                        <li><a href="">Otros</a></li>
                    </ul>
                </li>
                
            </ul>

            <div class="header__search">
                <input type="text" placeholder="Buscar producto">
            </div>
            <div>
                <button>
                   <a href=""><i class="fas fa-search"></i></a> 
                </button>
            </div>

        </nav>

        
        


    </header>

<main>

<div class= "tittle">
<h3>LOGIN</h3>
</div> 


<ul class="list"> 
<li> EMAIL: <input type="text" name="search"></li>
<li> PASSW: <input type="text" name="search"></li>

</ul>

<div class="botones">
    <button class="B1">INICIAR SESION</button>
</div>
<div class="botones">
    <button class="B2">REGISTRATE</button>


</div>

    <hr>


    



    
</main>







</body>









</html>