<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50f42a1530.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header class="header-container">
        <div class="cont-logo-bars">
            <a href="#">
                <div class="logo-container">
                    <div>
                        <p class="logo">M</p>
                    </div>
                    <div>
                        <p class="logo-text">MUSEUM</p>
                        <p class="logo-text">SPORTS</p>
                    </div>
                </div>
            </a>
            <div id="main-bars">
                <a class="main-burguer" href="#main-bars"><i class="fa-solid fa-bars"></i></a>
                <a class="main-burguerClose" href="#"><i class="fa-solid fa-xmark"></i></a>
            </div>
        </div>
        <nav class="nav-bars-container active">
            <div class="iconUser_iconCard">
                <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                <a href=""><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="nav_search">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

    </header>


    <main>

        <div class="tittle">
            <h3>LOGIN</h3>
        </div>

        <form action="register.html" method="POST">
            <div class="container1">

                <p class="barra">
                    <label>EMAIL:</label>
                    <input type="Email" name="Email" required>
                </p>
           
    
                <p class="barra2">
                    <label>CONTRASEÑA:</label>
                    <input type="password" name="Contraseña" required>
                </p>

            </div>

            <div class="button">
                <a>
                    <input type="submit" value="INICIAR SESION">
                </input>
                <br>
                <br>
            
                <a>
                    <input type="submit" value="REGISTRATE">
                </a>

            </div>
        </form>

<a class="enlace" href="Necesito ayuda para ingresar">Necesito ayuda para ingresar</a>
    </main>

</body>

</html>