<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product cart</title>
</head>

<body>
    <main>
        <h1>Productos en carrito</h1>
        <section>
            <article>
                <img src="" alt="">
                <div>
                    <h3>Descripcion</h3>
                    <p>Medios de pago</p>
                    <span>Cuotas</span>
                </div>
                <label for="text">$</label>
            </article>
            <article>
                <img src="" alt="">
                <div>
                    <h3>Descripcion</h3>
                    <p>Medios de pago</p>
                    <span>Cuotas</span>
                </div>
                <label for="text">$</label>
            </article>
            <article>
                <img src="" alt="">
                <div>
                    <h3>Descripcion</h3>
                    <p>Medios de pago</p>
                    <span>Cuotas</span>
                </div>
                <label for="text">$</label>
            </article>
        </section>
        <section>
            <form action="">
                <label for="coutas">Coutas</label>
                <select name="cuotas" id="cuotas">
                    <option value="value6">6</option>
                    <option value="value3">3</option>
                    <option value="value1">1</option>
                </select>
                <label for="text">Total</label>
                <label for="">$</label>
            </form>
        </section>
        <section>
            <button type="reset">Limpiar lista</button>
            <a href="">Cancelar</a>
            <a href="">Comprar</a>
        </section>

    </main>

</body>

</html>