<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <script src="https://kit.fontawesome.com/464b5abef1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header class="header-container">
        <div class="cont-logo-bars">
            <a href="/">
                <div class="logo-container">
                    <div>
                        <p class="logo">M</p>
                    </div>
                    <div>
                        <p class="logo-text">MUSEUM</p>
                        <p class="logo-text">SPORTS</p>
                    </div>
                </div>
            </a>
            <div class="icon-cont">
                <div class="iconUser_iconCard">
                    <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div id="main-bars">
                    <a class="main-burguer" href="#main-bars"><i class="fa-solid fa-bars"></i></a>
                    <a class="main-burguerClose" href="#"><i class="fa-solid fa-xmark"></i></a>
                </div>
            </div>
        </div>
        <nav class="nav-bars-container">
            <div class="nav_search">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <ul class="nav-main-bars">
                <li><a class="item" href="/">Inicio</a></li>
                <li><a class="item" href="#">Categorias</a>
                    <ul class="sub-main">
                        <li><a href="/#">Futbol</a></li>
                        <li><a href="/#">Tenis</a></li>
                        <li><a href="/#">Basket</a></li>
                        <li><a href="/#">Rugby</a></li>
                        <li><a href="/#">hockey</a></li>
                        <li><a href="/#">otros</a></li>
                    </ul>
                </li>
                <li><a class="item" href="#about_us">Acerca de</a></li>
                <li><a class="item" href="#contact_us">Contactenos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- <h1>Detalles del producto</h1> -->
        <section>
            <article class="product_container">
                <div class="product_item">
                    <section class="image_container">
                        <div class="main_image">
                            <img src="/images/futbol-img1-1.jpg" alt="">
                        </div>
                        <div class="secondary_image_container">
                            <div class="secondary_image">
                                <img src="/images/futbol-img1.jpg" alt="">
                            </div>
                            <div class="secondary_image">
                                <img src="/images/futbol-img1-3.jpg" alt="">
                            </div>
                            <div class="secondary_image">
                                <img src="/images/futbol-img1.jpg" alt="">
                            </div>
                            <div class="secondary_image">
                                <img src="/images/futbol-img1-3.jpg" alt="">
                            </div>
                        </div>
                    </section>
                    <section class="product_description_select">
                        <h3 class="prodcut_title">Palota Oficial copa mundial de la FIFA - TELSTAR Rusia 2018</h3>
                        <h4 class="main_product_price">$ 11.999</h4>
                        <p class="in_installments">en 6x $ 2.433<span>16</span></p>
                        <div class="color_container">
                            <span class="product_color">Color</span>
                            <span class="product_color">Color</span>
                            <span class="product_color">Color</span>
                        </div>
                        <div class="size_container">
                            <span class="product_size">Talle</span>
                            <span class="product_size">Talle</span>
                            <span class="product_size">Talle</span>
                        </div>
                        <div class="select_quantity">
                            <a href=""><i class="fa-solid fa-square-minus"></i></a>
                            <div>
                                <span>Cantidad: </span><input type="text" name="" id="" placeholder="(24 Disponibles)">
                            </div>
                            <a href=""><i class="fa-solid fa-square-plus"></i></a>
                        </div>
                        <div class="payment_container">
                            <p>Medios de pago</p>
                            <div>
                                <span class="payment_methods">Credito</span>
                                <span class="payment_methods">Debito</span>
                                <span class="payment_methods">Efectivo</span>
                            </div>
                        </div>
                        <div class="button_container">
                            <a class="button" href="">Agregar al carrito</a>
                            <a class="button" href="">Comprar ahora</a>
                        </div>
                    </section>
                </div>
                <div>
                    <section class="product_technical_details">
                        <div class="specific_detail">
                            <a href="">Descripcion del producto</a>
                            <p>Telstar en movimiento, la icónica e inmediatamente reconocible pelota blanca y negra de
                                la
                                copa de 1970. Presenta una superficie termosoldada sin costuras que brinda una precisión
                                absoluta en cada toque y una mínima absorción de agua. La primera de su tipo, incorpora
                                un
                                chip NFC que te permite acceder a contenidos exclusivos en tu smartphone. <br>
                                <br>
                                Exterior térmicamente sellado<br>
                                Esta pelota presenta una superficie sin costuras que brinda una precisión absoluta en
                                cada
                                toque y una mínima absorción de agua.<br>
                                <br>
                                Diseño monopanel<br>
                                Cada panel tiene el mismo tamaño y forma para ofrecer un rendimiento suave y
                                continuo.<br>
                                <br>
                                FIFA Quality Pro<br>
                                Certificado con los estándares más altos de la FIFA después de pruebas de
                                circunferencia,
                                peso, rebote y absorción de agua.
                            </p>
                        </div>
                        <!-- <div>
                        <a href="">Video</a>
                        <iframe src="" frameborder="0"></iframe>
                    </div> -->
                    </section>
                </div>
            </article>
        </section>
        <section class="conatainer_related_products">
            <h2>Productos relacionados</h2>
            <div class="products_related">
                <div class="item_container_related">
                    <article class="related_article">
                        <a class="" href="">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article" href="">Ver producto</a>
                        </a>
                    </article>
                    <article class="related_article">
                        <a class="" href="">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article" href="">Ver producto</a>
                        </a>
                    </article>
                    <article class="related_article">
                        <a class="" href="">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article" href="">Ver producto</a>
                        </a>
                    </article>
                </div>
                <div class="item_container_related2">
                    <article class="related_article">
                        <a class="" href="">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article" href="">Ver producto</a>
                        </a>
                    </article>
                    <article class="related_article">
                        <a class="" href="">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article" href="">Ver producto</a>
                        </a>
                    </article>
                    <article class="related_article">
                        <a class="" href="">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article" href="">Ver producto</a>
                        </a>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-container">
        <section class="container-firs">
            <section class="container-deploy about_us" id="about_us">
                <div class="title-icon deploy">
                    <h3>Quienes Somos</h3>
                    <a><i class="fa-solid fa-square-plus"></i></a>
                </div>
                <!-- <a href="">Logo</a> -->
                <p class="deploy_cont text-about_us">MuseumSports es una página dedicada a la venta de artículos deportivos de colección. Todos estos artículos fueron utilizados por famosos deportistas, ya sean camisetas de futbol, raquetas de tenis, pelotas, botines, aros de basquet, etc.
                    MuseumSports es una página dedicada a la venta de artículos deportivos de colección. Todos estos artículos fueron utilizados por famosos deportistas, ya sean camisetas de futbol, raquetas de tenis, pelotas, botines, aros de basquet, etc. <br>
                    El público al que aspiramos es a los fanáticos del deporte y coleccionistas en la materia.</p>
            </section>
            <section class="cont_nav-cont_reds">
                <section class="nav_footer">
                    <div class="title-icon">
                        <h3>Categorias</h3>
                    </div>
                    <div>
                        <ul class="cont_categories">
                            <li class="list_item"><a href="/#">Futbol</a></li>
                            <li class="list_item"><a href="/#">Tenis</a></li>
                            <li class="list_item"><a href="/#">Basket</a></li>
                            <li class="list_item"><a href="/#">Rugby</a></li>
                            <li class="list_item"><a href="/#">Hockey</a></li>
                            <li class="list_item"><a href="/#">Otros</a></li>
                        </ul>
                    </div>
                </section>
                <section class="contact-us">
                    <div class="title-icon">
                        <h3 id="contact_us">Contactenos</h3>
                    </div>
                    <div>
                        <ul class="cont_redes">
                            <li class="list_item"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-square"></i><span
                                        class="name_red"> Facebook</span></a></li>
                            <li class="list_item"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram-square"></i><span
                                        class="name_red"> Instagram</span></a></li>
                            <li class="list_item"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter-square"></i><span
                                        class="name_red"> Twitter</span></a></li>
                            <li class="list_item"><a href="https://ar.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i><span
                                        class="name_red">
                                        Linkedin</span></a></li>
                            <li class="list_item"><a href="" target="_blank"><i class="fa-brands fa-whatsapp-square"></i><span
                                        class="name_red">
                                        WhatsApp</span></a></li>
                            <li class="list_item"><a href="" target="_blank"><i class="fa-solid fa-phone"></i><span class="name_red">
                                        00110011</span></a></li>
                        </ul>
                    </div>
                </section>
            </section>
            <section class="container-deploy">
                <div class="title-icon deploy">
                    <h3>Escribinos</h3>
                    <a><i class="fa-solid fa-square-plus"></i></a>
                </div>
                <div class="deploy_cont">
                    <form action="">
                        <input type="text" name="name" id="name" placeholder="Ingrese su nombre">
                        <input type="email" name="email" id="email" placeholder="Ingrese su correo">
                        <input type="text" name="business" id="business" placeholder="Asunto">
                        <textarea name="" id="" cols="30" rows="8" placeholder="Escriba brevemente su consulta"></textarea>
                        <div><button class="button_form" type="submit">Enviar</button></div>
                    </form>
                </div>
            </section>
        </section>
        <p class="copyright">COPYRIGHT MuseumSports - 2022. Todos los derechos reservados.</p>
    </footer>
    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>