<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
</head>

<body>
    <h1>Detalle del producto</h1>
    <main>
        <section>
            <article>
                <section>
                    <img src="" alt="">
                    <div>
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                    </div>
                </section>
                <section>
                    <h3>Titulo de Producto</h3>
                    <hr>
                    <h4>Precio</h4>
                    <span>Coutas</span>
                    <p>Medios de pago</p>
                    <a href="">Agregar al carrito</a>
                </section>
                <section>
                    <div>
                        <a href="">Descripcion</a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A aperiam mollitia officiis quas
                            quod neque veritatis excepturi laudantium nihil obcaecati cupiditate error omnis aliquam
                            dolor culpa eius impedit totam doloribus numquam perferendis recusandae incidunt distinctio,
                            debitis voluptate. Delectus architecto animi, numquam commodi sunt dolor excepturi eum,
                            laudantium molestiae magnam neque.</p>
                    </div>
                    <div>
                        <a href="">Video</a>
                        <iframe src="" frameborder="0"></iframe>
                    </div>
                </section>
            </article>
        </section>
        <section>
            <h2>Productos relacionados</h2>
            <article>
                <a href="">
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit.</p>
                    <h4>Precio</h4>
                    <a href="">Agregar</a>
                </a>
            </article>
            <article>
                <a href="">
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit.</p>
                    <h4>Precio</h4>
                    <a href="">Agregar</a>
                </a>
            </article>
            <article>
                <a href="">
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit.</p>
                    <h4>Precio</h4>
                    <a href="">Agregar</a>
                </a>
            </article>
            <article>
                <a href="">
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit.</p>
                    <h4>Precio</h4>
                    <a href="">Agregar</a>
                </a>
            </article>
            <article>
                <a href="">
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit.</p>
                    <h4>Precio</h4>
                    <a href="">Agregar</a>
                </a>
            </article>
        </section>
    </main>
</body>
</html>