<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50f42a1530.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header class="header-container">
        <div class="cont-logo-bars">
            <a href="#">
                <div class="logo-container">
                    <div>
                        <p class="logo">M</p>
                    </div>
                    <div>
                        <p class="logo-text">MUSEUM</p>
                        <p class="logo-text">SPORTS</p>
                    </div>
                </div>
            </a>
            <div id="main-bars">
                <a class="main-burguer" href="#main-bars"><i class="fa-solid fa-bars"></i></a>
                <a class="main-burguerClose" href="#"><i class="fa-solid fa-xmark"></i></a>
            </div>
        </div>
        <nav class="nav-bars-container active">
            <div class="iconUser_iconCard">
                <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                <a href=""><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="nav_search">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

    </header>

    <main>

        <div class="tittle">
            <h3>REGISTRO</h3>
        </div>

        <body>

            <div class="container">
                <form action="index.html" method="POST">
                    <p>
                        <label>NOMBRE:</label>
                        <input type="text" name="nombre" required>
                    </p>

                    <p>
                        <label>APELLIDO:</label>
                        <input type="email" name="Apellido" required>
                    </p>

                    <p>
                        <label>DNI:</label>
                        <input type="DNI" name="DNI" required>
                    </p>

                    <p>
                        <label>PAÍS:</label>
                        <input type="País" name="País" required>
                    </p>

                    <p>
                        <label>PROVINCIA:</label>
                        <input type="Provincia" name="Provincia" required>
                    </p>

                    <p>
                        <label>LOCALIDAD:</label>
                        <input type="Localidad" name="Localidad" required>
                    </p>

                    <p>
                        <label>CÓDIGO POSTAL:</label>
                        <input type="Código postal" name="Código postal" required>
                    </p>

                    <p>EMAIL:</label>
                        <input type="Email" name="Email" required>
                    </p>

                    <p>
                        <label>CONTRASEÑA:</label>
                        <input type="password" name="Contraseña" required>
                    </p>
            </div>

            <div class="button">
               <a class="button_action">REGISTRATE</a>
                <a class="enlace1" href="/login">Ya tenés cuenta? Click acá</a>

            </div>
            </form>

    </main>

</body>

</html>