<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50f42a1530.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header class="header-container">
        <div class="cont-logo-bars">
            <a href="#">
                <div class="logo-container">
                    <div>
                        <p class="logo">M</p>
                    </div>
                    <div>
                        <p class="logo-text">MUSEUM</p>
                        <p class="logo-text">SPORTS</p>
                    </div>
                </div>
            </a>
            <div id="main-bars">
                <a class="main-burguer" href="#main-bars"><i class="fa-solid fa-bars"></i></a>
                <a class="main-burguerClose" href="#"><i class="fa-solid fa-xmark"></i></a>
            </div>
        </div>
        <nav class="nav-bars-container active">
            <div class="iconUser_iconCard">
                <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                <a href=""><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="nav_search">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
           


    </header>

 





<main>



    <div class= "tittle">
        <h3>REGISTRO</h3>
        </div> 
        
        
        <ul class="list"> 
        <li> NOMBRE: <div class= "cajas"><input type="text" name="search"></div></li>
        <li> APELLIDO:<div class= "cajas"><input type="text" name="search"></div></li>
        <li> DNI: <div class= "cajas"><input type="text" name="search"></div></li>
        <li> PAIS: <div class= "cajas"><input type="text" name="search"></div></li>
        <li> PROVINCIA: <div class= "cajas"><input type="text" name="search"></div></li>
        <li> LOCALIDAD: <div class= "cajas"><input type="text" name="search"></div></li>
        <li> CODIGO POSTAL: <div class= "cajas"><input type="text" name="search"></div></li>
        <li> EMAIL: <div class= "cajas"><input type="text" name="search"></div></li>
        <li> CONFIRMAR EMAIL:<div class= "cajas"><input type="text" name="search"></div></li>
        <li> CONTRASEÑA: <div class= "cajas"><input type="text" name="search"></div></li>
        <li> CONFIRMAR CONTRASEÑA: <div class= "cajas"><input type="text" name="search"></div></li>
        </ul>
        
        
        <div class="botones">
            <button class="B2">REGISTRATE</button>
        
        
        </div>
        
            <hr>
        
        
            
        
        
        
            
        </main>
        
        
        
        
        
        
        
        </body>
        
        
        
        
        
        
        
        
        
        </html>
        




</body>

</html>