<%- include("./partials/head", { title : "home" }) %>

<body>
    
    <%- include("./partials/header") %>

    <main>
        <form class="register_form" action="" method="POST">
            <h3>Ingresar Datos</h3>
            <div class="user_data">
                <input class="get_log" type="text" placeholder="Nombre y Apellido">
                <input class="get_log" type="text" placeholder="Nombre de usuario">
                <input class="get_log" type="email" placeholder="E-mail">
            </div>
            <h4>Fecha de Nacimiento</h4>
            <div class="birth_data">
                <input class="get_log" type="date" placeholder="DD/MM/AAAA">
                <input class="get_log" type="text" placeholder="Domicilio">
            </div>
            <div>
                <h4>Perfiles de usuario</h4>
                <div class="radio_option">
                    <div>
                        <label for="vendedor">Vendedor</label>
                        <input type="radio" name="type_user" id="vendedor" value="vendedor">
                    </div>
                    <div>
                        <label for="comprador">Comprador</label>
                        <input type="radio" name="type_user" id="comprador" value="comprador">
                    </div>
                </div>
            </div>
            <h4>Intereses</h4>
            <div class="select_check">
                <div>
                    <input type="checkbox" name="electro" id="electro">
                    <label for="electro">Electro</label><br>
                    <input type="checkbox" name="moda" id="moda">
                    <label for="moda">Moda</label><br>
                    <input type="checkbox" name="hogar" id="hogar">
                    <label for="hogar">Hogar</label><br>
                    <input type="checkbox" name="jugueteria" id="jugueteria">
                    <label for="jugueteria">Jugueteria</label><br>
                    <input type="checkbox" name="vida_sana" id="vida_sana">
                    <label for="vida_sana">Vida sana</label>
                </div>
            </div>
            <div class="password">
                <a href="#">Subir imagen<input class="get_img" type="file"></a>
                <input class="get_log" type="password" name="pass" id="" placeholder="Crea una contraseña">
                <input class="get_log" type="password" name="pass" id="" placeholder="Volve a ingresar tu contraseña">
            </div>
            <div class="buttons">
                <a class="get_log button" href="/"><input type="button" value="Enviar"></a>
                <input class="get_log button" type="reset" value="Reset">
            </div>
        </form>
    </main>

    <%- include("./partials/footer") %> 

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>