<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head", { title : "Login" }) %>

<body>

    <%- include("./partials/header") %> 


        <!----    ------------------------------main--------------------------------- -->
        <main>
            <div class="tittle">
                <h3>LOGIN</h3>
            </div>
    
            <form action="" method="POST">
                <div class="container1">
    
                    <p class="barra">
                        <label for="email">EMAIL:</label>  
                        <input type="email" name="email" id="email" >
                    </p>
               
        
                    <p class="barra2">
                        <label for="password">CONTRASEÑA:</label>
                        <input type="password" name="password" id="password">
                    </p>

                    <div class="col-12 col-md-6">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="checkbox" name="remember" style="width: 30px; height:30px">
                            <label class="form-check-label form-label ms-2" for="checkbox">Recordarme</label>
                          </div>
                    </div>
    
                </div>
            
                <div class="button">            
                    <button type="submit" >INICIAR SESION</button>
                    
                    <button><a href="/users/register">REGISTRATE</a></button>       
                </div>
           
            </form>
    
    <a class="enlace" href="Necesito ayuda para ingresar">Necesito ayuda para ingresar</a>
        </main>



    <!--          ------------FOOTER------------       -->
    
    <%- include("./partials/footer") %>

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>