<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head", { title : "productDetail" }) %>

<body>
    
    <%- include("./partials/header") %> 

    <main class="product_detail_main">
        <section>
            <article class="product_container">
                <div class="product_item">
                    <section class="image_container">
                        <div class="main_image">
                            <img src="/images/futbol-img1-1.jpg" alt="">
                        </div>
                        <div class="secondary_image_container">
                            <div class="secondary_image">
                                <img src="/images/futbol-img1.jpg" alt="">
                            </div>
                            <div class="secondary_image">
                                <img src="/images/futbol-img1-3.jpg" alt="">
                            </div>
                            <div class="secondary_image">
                                <img src="/images/futbol-img1.jpg" alt="">
                            </div>
                            <div class="secondary_image">
                                <img src="/images/futbol-img1-3.jpg" alt="">
                            </div>
                        </div>
                    </section>
                    <section class="product_description_select">
                        <h3 class="prodcut_title">Palota Oficial copa mundial de la FIFA - TELSTAR Rusia 2018</h3>
                        <h4 class="main_product_price">$ 11.999</h4>
                        <p class="in_installments">en 6x $ 2.433<span>16</span></p>
                        <div class="color_container">
                            <!-- <span class="product_color">Color</span>
                            <span class="product_color">Color</span> -->
                            <span class="product_color">Color</span>
                        </div>
                        <div class="size_container">
                            <!-- <span class="product_size">Talle</span>
                            <span class="product_size">Talle</span> -->
                            <span class="product_size">Talle</span>
                        </div>
                        <div class="select_quantity">
                            <a href=""><i class="fa-solid fa-square-minus"></i></a>
                            <div>
                                <span>Cantidad: </span><input type="text" name="" id="" placeholder="(24 Disponibles)">
                            </div>
                            <a href=""><i class="fa-solid fa-square-plus"></i></a>
                        </div>
                        <div class="payment_container">
                            <p>Medios de pago</p>
                            <div>
                                <span class="payment_methods">Credito</span>
                                <span class="payment_methods">Debito</span>
                                <span class="payment_methods">Efectivo</span>
                            </div>
                        </div>
                        <div class="button_container">
                            <a class="button" href="">Agregar al carrito</a>
                            <a class="button" href="">Comprar ahora</a>
                            <a class="button" href="/products/edit">Editar producto</a>
                            <a class="button" href="/products/remove/1?_method=DELETE">Borrar producto</a>

                        </div>
                    </section>
                </div>
                <div>
                    <section class="product_technical_details">
                        <div class="specific_detail">
                            <a href="">Descripcion del producto</a>
                            <p>Telstar en movimiento, la icónica e inmediatamente reconocible pelota blanca y negra de
                                la
                                copa de 1970. Presenta una superficie termosoldada sin costuras que brinda una precisión
                                absoluta en cada toque y una mínima absorción de agua. La primera de su tipo, incorpora
                                un
                                chip NFC que te permite acceder a contenidos exclusivos en tu smartphone. <br>
                                <br>
                                Exterior térmicamente sellado<br>
                                Esta pelota presenta una superficie sin costuras que brinda una precisión absoluta en
                                cada
                                toque y una mínima absorción de agua.<br>
                                <br>
                                Diseño monopanel<br>
                                Cada panel tiene el mismo tamaño y forma para ofrecer un rendimiento suave y
                                continuo.<br>
                                <br>
                                FIFA Quality Pro<br>
                                Certificado con los estándares más altos de la FIFA después de pruebas de
                                circunferencia,
                                peso, rebote y absorción de agua.
                            </p>
                        </div>
                        <!-- <div>
                        <a href="">Video</a>
                        <iframe src="" frameborder="0"></iframe>
                    </div> -->
                    </section>
                </div>
            </article>
        </section>
        <section class="conatainer_related_products">
            <h2>Productos relacionados</h2>
            <div class="products_related">
                <div class="item_container_related">
                    <article class="related_article">
                        <a class="" href="#">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article">Ver producto</a>
                        </a>
                    </article>
                    <article class="related_article">
                        <a class="" href="#">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article">Ver producto</a>
                        </a>
                    </article>
                    <article class="related_article">
                        <a class="" href="#">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article">Ver producto</a>
                        </a>
                    </article>
                </div>
                <div class="item_container_related">
                    <article class="related_article">
                        <a class="" href="#">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article">Ver producto</a>
                        </a>
                    </article>
                    <article class="related_article">
                        <a class="" href="#">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article">Ver producto</a>
                        </a>
                    </article>
                    <article class="related_article">
                        <a class="" href="#">
                            <img src="/images/futbol-img1.jpg" alt="">
                            <h4 class="product_price">Precio</h4>
                            <p class="in_installments">Cuotas</p>
                            <p class="product_name">Nombre del producto</p>
                            <a class="button_article">Ver producto</a>
                        </a>
                    </article>
                </div>
            </div>
        </section>
    </main>
    
    <%- include("./partials/footer") %>

    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>