<%- include("../partials/head", { title : "Editar Producto" }) %>

    <body>

        <%- include("../partials/header") %>

            <main>
                <h1>PERFIL USUARIO</h1>
            </main>

            <%- include("../partials/footer") %>

                <script src="/javascript/burguer.js"></script>
                <script src="/javascript/deploy-footer.js"></script>
    </body>

    </html>