footer.footer-container {
    background: var(--color-footer);
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    position: relative;
}

footer.footer-container h3 {
    font-size: 18px;
    font-weight: 500;
}

footer .container-firs {
    margin-bottom: 20px;
}

footer section .container-deploy {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
}

footer section div.title-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer section div.title-icon .fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-right: 5px;
}

footer section div.title-icon {
    cursor: pointer;
}

footer section .deploy_cont {
    width: 100%;
    height: 0;
}

footer section .deploy_cont .input_text:focus {
    outline: none;
}

.open .fa-square-plus {
    transform: rotate(90deg);
}

.fa-square-plus {
    transition: transform .3s;
}

footer section ul.cont_categories .list_item {
    padding: 5px 50px;
}

/* footer section ul.cont_categories .list_item:hover {
    background-color: var(--color-header-botones);
} */

footer section ul.cont_categories .list_item a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
}

footer section ul.cont_redes {
    display: flex;
    justify-content: space-evenly;
}

/* footer section ul .list_item:hover {
    background-color: #FFFFFF;
} */

footer section ul.cont_redes .list_item i {
    font-size: 30px;
    color: var(--color-header-botones);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer section ul.cont_redes .list_item i.fa-solid {
    font-size: 26.25px;
}

footer section ul.cont_redes .list_item .name_red {
    display: none;
}

footer section form input,
footer section form textarea {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: none;
    margin-bottom: 5px;
    resize: none;
}

footer section form div {
    display: flex;
    justify-content: center;
}

footer section form .button_form {
    padding: 5px;
    background-color: var(--color-header-botones);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
}

footer p.copyright {
    font-size: 12px;
    text-align: center;
}

@media screen and (min-width: 480px) {
    footer.footer-container h3 {
        font-size: 24px;
    }

    footer .container-firs {
        display: flex;
        flex-direction: column;
    }
    
    footer section .container-deploy {
        overflow: visible;
    }
    
    footer section div.title-icon {
        display: block;
        padding-left: 30px;
    }
    
    footer section div.title-icon .fa-solid {
        display: none;
        margin-right: 0;
    }
    
    footer section div.title-icon {
        cursor: default;
    }
    
    footer section .deploy_cont {
        height: auto;
    }
    
    .open .fa-square-plus {
        transform: none;
    }
    
    .fa-square-plus {
        transition: none;
    }

    footer section .cont_nav-cont_reds {
        display: flex;
        justify-content: center;
    }

    footer section .nav_footer, footer section .contact-us {
        width: 48%;
        display: flex;
        flex-direction: column;
    }
    
    footer section ul.cont_categories .list_item {
        padding: 5.5px 30px 5.5px 0;
        transition: all .3s ease-in-out;
        width: 50%;
    }

    footer section ul.cont_categories .list_item a {
        font-size: 16px;
        padding-left: 10px;
    }
    
    footer section ul.cont_categories .list_item:hover {
        background-color: var(--color-header-botones);
    }
    
    footer section ul.cont_redes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer section ul.cont_redes .list_item a {
        display: flex;
        flex-direction: row;
        padding-left: 10px;
    }

    footer section ul.cont_redes li.list_item {
        display: block;
        width: 50%;
    }

    footer section ul .list_item:hover {
        background-color: #FFFFFF;
    }
    
    footer section ul.cont_redes .list_item i {
        font-size: 25px;
    }
    
    footer section ul.cont_redes .list_item i.fa-solid {
        font-size: 22px;
    }
    
    footer section ul.cont_redes .list_item .name_red {
        display: flex;
        color: var(--color-header-botones);
    }

    footer section ul.cont_redes .list_item {
        color: var(--color-header-botones);
        transition: all .5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer section ul.cont_redes .list_item:hover {
        color: var(--color-header-botones);
    }
    
    footer section form {
        width: 50%;
        margin: 0 auto;
        position: relative;
    }
    
    footer section form .button_form {
        width: 150px;
        font-size: 16px;
        text-transform: uppercase;
        position: absolute;
    }
    
    footer section form .button_form:hover {
        background-color: #007765;
        font-size: 18px;
    }
    
    footer p.copyright {
        padding-top: 30px;
        font-size: 14px;
    }
}




@media screen and (min-width: 768px) {
    footer .container-firs {
        flex-direction: row;
        justify-content: space-around;
        gap: 25px;
    }
    
    footer section div.title-icon {
        padding-left: 0px;
    }
    
    footer section .cont_nav-cont_reds {
        gap: 25px;
    }

    footer section .nav_footer, footer section .contact-us {
        width: 100%;
    }
    
    footer section ul.cont_categories .list_item {
        width: 100%;
    }

    footer section ul.cont_categories .list_item a {
        padding-left: 0px;
    }

    footer section ul.cont_redes .list_item a {
        padding-left: 0px;
        align-items: center;
        gap: 5px;
    }

    footer section ul.cont_redes li.list_item {
        width: 100%;
    }
    
    footer section form {
        width: 100%;
        margin: 0 auto;
    }
    
}