body.body_register main {
    background-color: white;
    padding: 10px 0;
}
main .register_form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px rgb(100, 100, 100); */
    margin-bottom: 30px;
    margin-top: 10px;
}
main .register_form h3 {
    margin-bottom: 20px;
    text-align: center;
}
main .register_form .user_data,
main .register_form .birth_data,
main .register_form .password,
main .register_form .buttons,
main .register_form .select_check {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .register_form h4 {
    margin-bottom: 5px;
    text-align: center;
}
main .register_form .get_log {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    max-width: 350px;
    margin-bottom: 15px;
    border: none;
    background-color: #D6D6D6;
    display: block;
}
main .register_form .get_log:focus {
    outline: none;
}
main .register_form .radio_option {
    margin-bottom: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}
main .register_form .get_img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    display: block;
    justify-content: center;
}
main .register_form .button input {
    background-color: rgb(49, 106, 145);
    border: none;
    text-transform: uppercase;
    color: white;
}
main .register_form .button {
    background-color: rgb(49, 106, 145);
    color: white;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    text-align-last: center;
}
/*     --------MEDIA QUERIES 480PX--------     */
@media screen and (min-width: 480px) {
    main .register_form {
        width: 80%;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(100, 100, 100);
        max-width: 430px;
    }
    main .register_form h3 {
        margin-bottom: 20px;
        text-align: center;
    }
    main .register_form .user_data,
    main .register_form .birth_data,
    main .register_form .password,
    main .register_form .buttons,
    main .register_form .select_check {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .register_form h4 {
        margin-bottom: 10px;
        text-align: start;
        margin-top: 10px;
        margin-left: 20px;
    }
}