* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
/* background-image: url("/images/césped-fondo.jpg"); */
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

i {
    font-size: var(--tamaño-iconos);
}

img {
    width: 100%;
}