* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


body {

background-color: white;
font-family: 'Roboto', sans-serif;
color: green
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}






