header.header-container{ 
    padding: 10px;
    position: relative;
}

header .cont-logo-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo-container .logo {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 900;
}

header .logo-container .logo-text {
    margin-left: 3px;
    font-size: 17.5px;
    font-weight: 900;
}

header .cont-logo-bars .fa-bars, .fa-xmark {
    font-size: var(--tamaño-iconos);
    padding: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 27px;
    text-align: center;
}

header nav .nav-bars-container {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    top: 80px;
    left: 0;
}

header nav .nav-bars-container .nav-sub-main {
    display: none;
}

.is-active {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 75%);
}

