.header__container{
    background-color: white;
    padding: 15px;
}

.header__logo {

width: 150px;
}

.header__box01 {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}
  

.fa-cart-shopping, .fa-user {
    font-size: 1.5em;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}


.header__link {
    display: flex;
    display: none;
    position: absolute;
}

.header__link:hover {
    display: block;
}
           
.header__nav li {
    background-color: gray;
}

.header__nav li a {
    padding: 5px;
    text-transform: uppercase;
}

.header__search {
    display: none;
    width: 100%;
}