

.tittle{
    margin-top: 15px;
    color:white;
    background-color: #02A28A;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

p input{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    border-color: #02A28A;
    border-radius: 6%;
    padding: 5px;
    
    
}

.container1 {
    padding: 30px;
    color:#02A28A;
}

.button{   
    padding: 35px;
    width: 70%;
    max-width: 400px;
    margin: 0 auto;
}

.button input{
    background-color: white;
    padding: 15px;
    border-radius: 6%;
    border-color: #02A28A;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    
}

.button input:hover{
    background-color:#02A28A;
}

.button input{
    transition: background-color 0.5s;
}

.barra{
    width: 100%;
    display:flex;
    flex-direction: column; 
    max-width: 400px;
    margin: 0 auto;
   
}

.barra2{
    width: 100%;
    display:flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.enlace{
    display:flex;
    flex-direction: column; 
    justify-content: center;
    color: #02A28A;
    padding: 35px 55px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

@media (min-width: 361px){

.button{   
   width: 70%;
}

.enlace{  
    text-align: center;
    color: #02A28A;
    padding: 25px 70px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    }

@media (min-width: 460px){

.button{   
    display:flex;
    justify-content: center;
    width: 70%;
    padding: 35px;
    max-width: 400px;
    margin: 0 auto;  
    }

.enlace{
    margin-top: 40px;
    }

    }
}
