body.body_register main {
    background-color: white;
    padding: 10px 0;
}
main.productAdd .register_form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px rgb(100, 100, 100); */
    margin-bottom: 30px;
    margin-top: 10px;
}
main.productAdd .register_form h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}
main .register_form .user_data,
main .register_form .birth_data,
main .register_form .password,
main .register_form .buttons,
main .register_form .select_check {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
main.productAdd .register_form .box_tittle {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: none; 
}

main.productAdd .register_form .get_log {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    max-width: 350px;
    margin-bottom: 15px;
    border: none;
    background-color: #ffffff;
}
main.productAdd .register_form .get_log:focus {
    outline: none;
}

main.productAdd .register_form .box_img {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-weight: bold;
}

main.productAdd .register_form .get_img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    max-width: 350px;
}

main.productAdd .register_form .select_check {
    margin-bottom: 25px;
}

main.productAdd .register_form .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
    margin-top: 15px;
}

main.productAdd .register_form .box_button {
    width: 100%;
    max-width: 350px;
}

main.productAdd .register_form .button_get {
    background-color: rgb(49, 106, 145);
    color: white;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    cursor: pointer;
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
/*     --------MEDIA QUERIES 480PX--------     */
@media screen and (min-width: 480px) {
    main.productAdd .register_form {
        width: 80%;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(100, 100, 100);
        max-width: 430px;
    }
    main.productAdd .register_form h3 {
        margin-bottom: 40px;
    }
    main.productAdd .register_form .user_data,
    main.productAdd .register_form .birth_data,
    main.productAdd .register_form .password,
    main.productAdd .register_form .buttons,
    main.productAdd .register_form .select_check {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}