

.tittle{
    margin-top: 15px;
    color:white;
    background-color: #02A28A;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

p input{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    border-color: #02A28A;
    border-radius: 6%;
    padding: 5px;
}

.container {
    padding: 15px;
    color:#02A28A;
    width: 75%;
    display:flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }


.button{

    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    
}

.button_action{
    
    display: block;
    margin: 0 auto;
    width: 280px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6%;
    border: 2px solid  #02A28A;
    text-align: center;
}

.enlace1{
      
    text-align: center;
    color: #02A28A;
    

}



@media (min-width: 361px){
    
.button_action{   
    width: 320px;
}
    
.enlace1{  
    
    text-align: center;
    color: #02A28A;
   
   
    max-width: 400px;
    margin: 0 auto;
}
}