:root {
    --color-header-botones: #02A28A;
    --tamaño-precio-gral: 14px;
    --tamaño-precio-detalle: 32px;
    --tamaño-lista-nav: 14px;
    --tamaño-botones: 18px;
    --tamaño-iconos: 14px;
    --tamaño-titulo: 34px;
}