<footer class="footer-container">
    <section class="container-firs">
        <section class="container-deploy about_us" id="about_us">
            <div class="title-icon deploy">
                <h3>Quienes Somos</h3>
                <a><i class="fa-solid fa-square-plus"></i></a>
            </div>
            <!-- <a href="">Logo</a> -->
            <p class="deploy_cont text-about_us">MuseumSports es una página dedicada a la venta de artículos deportivos de colección. Todos estos artículos fueron utilizados por famosos deportistas, ya sean camisetas de futbol, raquetas de tenis, pelotas, botines, aros de basquet, etc.
                MuseumSports es una página dedicada a la venta de artículos deportivos de colección. Todos estos artículos fueron utilizados por famosos deportistas, ya sean camisetas de futbol, raquetas de tenis, pelotas, botines, aros de basquet, etc. <br>
                El público al que aspiramos es a los fanáticos del deporte y coleccionistas en la materia.</p>
        </section>
        <section class="cont_nav-cont_reds">
            <section class="nav_footer">
                <div class="title-icon">
                    <h3>Categorias</h3>
                </div>
                <div>
                    <ul class="cont_categories"> 
                        <li class="list_item"><a href="/categories/detail/1">Futbol internacional</a></li>
                        <li class="list_item"><a href="/categories/detail/2">Futbol nacional</a></li>
                        <li class="list_item"><a href="/categories/detail/3">Basket</a></li>
                        <li class="list_item"><a href="/categories/detail/4">Tennis</a></li>
                        <li class="list_item"><a href="/categories/detail/5">Boxeo</a></li>
                        <li class="list_item"><a href="/categories/detail/6">Otros</a></li> 
                    </ul>
                </div>
            </section>
            <section class="contact-us">
                <div class="title-icon">
                    <h3 id="contact_us">Contactenos</h3>
                </div>
                <div>
                    <ul class="cont_redes">
                        <li class="list_item"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-square"></i><span
                                    class="name_red"> Facebook</span></a></li>
                        <li class="list_item"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram-square"></i><span
                                    class="name_red"> Instagram</span></a></li>
                        <li class="list_item"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter-square"></i><span
                                    class="name_red"> Twitter</span></a></li>
                        <li class="list_item"><a href="https://ar.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i><span
                                    class="name_red">
                                    Linkedin</span></a></li>
                        <li class="list_item"><a href="" target="_blank"><i class="fa-brands fa-whatsapp-square"></i><span
                                    class="name_red">
                                    WhatsApp</span></a></li>
                        <li class="list_item"><a href="" target="_blank"><i class="fa-solid fa-phone"></i><span class="name_red">
                                    00110011</span></a></li>
                    </ul>
                </div>
            </section>
        </section>
        <section class="container-deploy">
            <div class="title-icon deploy">
                <h3>Escribinos</h3>
                <a><i class="fa-solid fa-square-plus"></i></a>
            </div>
            <div class="deploy_cont">
                <form action="">
                    <input class="input_text" type="text" name="name" id="name" placeholder="Ingrese su nombre">
                    <input class="input_text" type="email" name="email" id="email" placeholder="Ingrese su correo">
                    <input class="input_text" type="text" name="business" id="business" placeholder="Asunto">
                    <textarea class="input_text" name="" id="" cols="30" rows="8" placeholder="Escriba brevemente su consulta"></textarea>
                    <div><button class="button_form" type="submit">Enviar</button></div>
                </form>
            </div>
        </section>
    </section>
    <p class="copyright">COPYRIGHT MuseumSports - 2022. Todos los derechos reservados.</p>
</footer>

<script src="/javascript/scripts.js"></script>