




<script type="text/javascript">
    function ConfirmExit()
    {
        var respuesta = confirm("Estás seguro que deseas salir de la sesión?");
    if (respuesta == true)
    {
        return true;
    }
    else
    {
        return false;
    }
    }
    
    
</script>



<header class="header-container">
    

    <div class="cont-logo-bars">

        
        
        <a href="/">
            <div class="logo-container">
                
                <div>
                    
                    <p class="logo">M</p>
                </div>
                <div>
                    <p class="logo-text">MUSEUM</p>
                    <p class="logo-text">SPORTS </p>

                </div>
            </div>
        </a>
        <div class="icon-cont">
            <div class="iconUser_iconCard">
                <% if (locals.userLogin) { %>
                    <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    <li><a href="/users/profile"><i class="fas fa-user"></i></a></li>

                    

                    <a href="/users/logout"onclick="return ConfirmExit()" >Salir</a>
                <% }else{ %>
                    <a href="/users/login"><i class="fa-solid fa-user"></i></a>
                <% } %>



                
                
            </div>
            <div id="main-bars">
                <a class="main-burguer" href="#main-bars"><i class="fa-solid fa-bars"></i></a>
                <a class="main-burguerClose" href="#"><i class="fa-solid fa-xmark"></i></a>
            </div>
        </div>
    </div>
    <nav class="nav-bars-container">

        <div class="nav_search">
            
            <form class="form_search" action="/search" method="GET">
                
                <input type="text" name="keyword" placeholder="Buscar">
                
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                
            </form>

            
        </div>
        
        <div class="switch" id="switch">
                    
                    
            <div class="switch__toggle" id="switchToggle">
                
                <img id="switchToggleImage" src="/images/img/sun.png" />
                
            </div>
            
        </div>
        
        </div>
        <ul class="nav-main-bars">
            
            <li><a class="item" href="/">Inicio</a></li>
            
            <li><a class="item" href="#">Categorias</a>
                <ul class="sub-main">
                    <li><a href="/categories/detail/1">Fútbol internacional</a></li>
                    <li><a href="/categories/detail/2">Fútbol nacional</a></li>
                    <li><a href="/categories/detail/3">Básquet</a></li>
                    <li><a href="/categories/detail/4">Tenis</a></li>
                    <li><a href="/categories/detail/5">Boxeo</a></li>
                </ul>
            
            </li>
             
            <% if (locals.userLogin && locals.userLogin.rol === "admin") { %>

                <li><a class="item" href="/products/all">Todos los productos</a></li>
                <li><a class="item" href="/products/create">Agregar producto</a></li>
                <li><a class="item" href="#about_us">Acerca de</a></li>                  
            <% }else{ %>
                <li><a class="item" href="/products/all">Todos los productos</a></li> 
                <li><a class="item" href="#about_us">Acerca de</a></li>                  
            <% } %>
            
        </ul>
        
    </nav>
</header>

